# Modules and IDEs folder
node_modules
.vscode
.idea

# Keep environment variables out of version control
.env

# Lock files
package-*.json
*.lock

# Não sobe para o Git, pois é criada no Container
*.spec.ts

# Migrations Prisma - Não precisam subir no projeto
prisma/migrations